.hero-section-container {
    margin: var(--desk-padd);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    color: #fff;
    margin-top: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid #d8d8d8;
}
.hero-section-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero-section-content h2 {
    font-size: 5rem;
}
.hero-section-content p {
    font-size: 1.5rem;
}
.hero-section-img-image {
    width: 100%;
    height: 400px;
    background-image: url('../../SVG/developer.svg');
    background-size: cover;
}

@media(max-width: 1150px){
    .hero-section-container{
        margin: var(--mobile-padd);
    }
    .hero-section-links {
        margin-top: 4rem;
    }
}
@media(max-width: 976px){
    .hero-section-container{
        grid-template-columns: 1fr;
    }
    .hero-section-img {
        display: none;
    }
    .hero-section-img-image {
        width: 100%;
        height: 400px;
        background-image: url('../../SVG/developer.svg');
        background-size: cover;
    }
}

@media(max-width: 376px){
    .hero-section-content h2 {
        font-size: 4rem;
    }
}
@media(max-width: 303px){
    .hero-section-content h2 {
        font-size: 3rem;
    }
}

@media(max-width: 412px){
    .hero-section-links a {
        width: 100%;
    }
}